@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto-Regular;
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Light;
  src: url('../public/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Thin;
  src: url('../public/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Medium;
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Kalam-Regular;
  src: url('../public/fonts/Kalam-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter.ttf') format('truetype');
}
@font-face {
  font-family: Julius;
  src: url('../public/fonts/Julius.ttf') format('truetype');
}


@layer components {
  .underline {
    text-decoration: underline;
    text-decoration-color: #7D5A50;
  }
}

body {
  margin: 0;
}

